.container {
    display: flex;
    justify-content: center;
    
}

.nameContainer {
    /*Position*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    /*Size*/
    width: 100%;
    height: 50px;

    /*Style*/
    background-color: var(--primary-color);
    border-radius: 15px 15px 0px 0px;
    color: var(--title-color);
}

.detailContainer {
    
    /*Position container dog information*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;

    /*Size*/
    width: 40%;
    min-width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 30px;

    /*Style*/
    background-color: var(--container);
    border: 1px solid var(--border);
    border-radius: 15px;
}

.dogPic {
    width: 85%;
    height: 100%;
    margin-top: 30px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.dataContainer {width: 100%;}

.heightWeight {
    margin-top: 30px;
    margin-bottom: 15px;
}

.arrayTemp{
    width: 60%;
    margin-left: 20%;
    align-self: center;
}

h6 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: var(--title-color);
}

h3 {
    margin: 0px;
    color: var(--text-color);
}

@media (max-width: 850px) {
    .heightWeight {
        flex-direction: column;
        margin-top: 0px;
    }
}