body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #455a64;
  --primary-color-light: #718792;
  --primary-color-dark: #1c313a;
  --background-card: #eeeeee;
  /*Nuevos colores*/
  --body: #192229;
  --container: #212E36;
  --border: #2A3B47;
  --text-color: #C8CDD0;
  --title-color: #EFF3F5;
  --light-text-color: #A0A7AC;
  --btn-color: #1e5179;
  --btn-color-active: #52A5E0;
  --subtitle: #224c6a;
  --color-green: #00a878;
  --color-red: #fe5e41;
  --color-button: #fdffff;
  --color-black: #000;
}