.container {
    display: flex;
    justify-content: center;
}

.titleCreate{
    background-color: var(--primary-color);
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 100%;
    font-weight: 700;
}

.form {
    /*Style*/
    background-color: var(--container);
    border: 1px solid var(--border);

    /*Font*/
    color: var(--title-color);
    font-weight: 600;
    font-size: 100%;

    /*Position and form*/
    width: 50vw;
    max-width: 500px;
    min-width: 300px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 15px;
}

.input {
    width: 50%;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.input:focus {
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color-light);
}

.input:active{border-radius: 10px;}

input.danger {
    padding: 3px;
    border: 1px solid red;
    border-radius: 10px;
}

input.danger:focus {
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}

.select {
    padding: 3px;
    width: 125px;
    max-width: 100%; 
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    
}

.select:focus{
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}

select.danger {
    border: 1px solid red;
    border-radius: 10px;
    padding: 3px;
}

.inputTarea {
    border-radius: 10px;
    height: 40px;
    width: 60%;
    min-width: 150px;
}

.inputTarea:focus {
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}

p {margin-bottom: 0px;}

p.danger {
 color: red;
 margin: 0px;
 font-size: 70%;
 
}

.selectedTemp {
    /* Position */
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    margin-left: 30%;

    /* Size*/
    width: 40%;
}

.addBtn {
     /* Position */
     margin-left: 5px;
     padding-bottom: 0px;

      /*Style*/
    background-color: var(--btn-color);
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
}

.selectedTemp button {
    /* Position */
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;

    /*Style*/
    background-color: var(--btn-color);
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
}

[data-tooltip] {
    position: relative;
    border-bottom: 1px dotted #09C;
    cursor:pointer;
    
}

[data-tooltip]::before{
    content: attr(data-tooltip);
    background-color:rgba(0,0,0,.75);
    color:white;
    width: 50px;
    padding: 5px;
    height: auto;
    border-radius: 3px;
    display: none;
    position: absolute;
    top: 30px;
    pointer-events: none;
    font-size: 100%;
    font-weight: 500;
}

[data-tooltip]:hover::before {
    display: block;
}

.tempContainer {
    display: flex;
    height: 20%;
    align-self: center;
}

.tempSelect {
    margin: 5px;
    align-self: center;
}

.createBtn {
      /*Style*/
      background-color: var(--btn-color);
      color: var(--title-color);
      border: none;
      border-radius: 5px;
      font-size: 100%;
      padding: 3px 10px;
  
      /*Position*/
      margin-top: 10px;
  
      /*Transition*/
      transition-property: background-color, color, font-weight;
      transition-duration: .4s;
}

.createBtnDisable{
    /*Style*/
    background-color: var(--primary-color-dark);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
    font-size: 100%;
    padding: 3px 10px;

    /*Position*/
    margin-top: 10px;
  
}



.createBtn:hover {
    background-color: var(--btn-color-active);
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-color-dark);
}