.orderContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.orderBtn {
    /*Style*/
    background-color: var(--btn-color);
    color: var(--title-color);
    border: none;
    border-radius: 5px;
    font-size: 100%;
    padding: 3px 10px;

    /*Position*/
    margin-top: 10px;

    /*Transition*/
    transition-property: background-color, color, font-weight;
    transition-duration: .4s;
}

.orderBtn:hover {
    background-color: var(--btn-color-active);
    font-weight: 600;
    cursor: pointer;
    color: var(--primary-color-dark);
}

.label {
    color: var(--title-color);
    font-size: 100%;
    font-weight: 600;
}

.select {
    padding: 3px;
    width: 125px;
    max-width: 100%; 
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);

}

.select:focus{
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--primary-color-dark);
}

.orderActive {
    display: flex;
    justify-content: center;
}

.divNames {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.divWeight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}