.searchIco {
    width: 30px;
    height: 30px;
    margin: 7px;
    color: var(--btn-color);
}

.divContainer {
    display: flex;
    justify-content: center;
}

#search {
    height: 15px;
    margin: 10px 0px 10px;
    border: .5px solid var(--border);
    border-radius: 10px;
    padding: 3px 5px;
}

#search:focus {
    outline: none;
    border: 1px solid var(--btn-color-active);
}

.switch-button {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--primary-color-dark);
    width: 3rem;
    height: 1.5rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
    border: 1px solid var(--border);
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--btn-color);
    content: '';
    border-radius: 50%;
    
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--btn-color-active);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

.fastSearch {
    color: var(--text-color);
    margin-left: 10px;
    margin-top: 12px;
}

@media (max-width: 500px) {
    .fastSearch {
        margin-top: 5px;
        margin-left: 0px;
    }
}